
<header>
  <nav class="navbar navbar-default" role="navigation">
    <div style= "text-align: right;">
      <%if(user){%>
        <span style="font-weight:bold; color:#B2BEB5;"><%=user.email%></span>
        <form action="/logout" method="POST" style= "display: inline-block;">
          <input type='submit' value='Logout'/>
        </form>
      <%}else{%>
        <a href ="/login">Login</a>
        <a href="/register">Register</a>
      <%}%>
    </div >
    <div>
      <h1>
        <span style="font-size: 5rem; font-weight: bolder; color:#B2BEB5;">Tiny</span><span style="font-size: 10rem; font-weight: bolder; color:#B2BEB5;">APP</span>
      </h1>
    </div>
    <div style= "font-weight:bold; font-size: 1.3em; font-style: Arial; margin-top: -30px;">
      <a href="/" style="color: #d8e2e8;">Home</a> &#9876; <a href="/urls/new" style="color: #d8e2e8;;">New Http</a>
    </div>
  </nav>
</header>
