<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header%>
</head>
<body>
  <ul>
    <div style= "position: relative; bottom: -90px; left: -30px">
      <a style="color: #d8e2e8;">short_url &#10139; <%=shortURL%></a> &#9747; &#9747; &#9747; <a style="color: #d8e2e8;">long_url &#10139; <%=longURL%></a>
    </div>
    <form action="/urls/<%=shortURL%>/edit" method="POST" style="margin:150px;">
      <label for="longURL" style="color: #d8e2e8;">Update longURL here:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Edit">
    </form>
  </ul>
</body>
</html>
