<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header%>
</head>
<body>
  <ul>
    <% for(let url in urls){ %>
    <div>
      <li style="display: inline-block;"><%= `${url} : ${urls[url]}`%></li>
      <a href="/urls/<%= url %>" style="display: inline-block;">Edit</a>
      <form method="POST" action="/urls/<%= url %>/delete" style="display: inline-block;">
        <input type="submit" value="Delete">
      </form>
    </div>
    <%} %>
  </ul>
</body>
</html>
