<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header%>
</head>
<body>
  <ul>
    <% for(let url in urls){ %>
    <li><%= `${url} : ${urls[url]}`%></li>
    <li><form method="POST" action="/urls/<%= url %>/delete">
      <input type="submit" value="delete">
      </form>
    </li>
    <%} %>
  </ul>
</body>
</html>
