<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header%>
</head>
<body>
  <ul>
    <% for(let user in urls){ %>
      <div style= "position: relative; left: -5px; bottom: -100px; color: #d8e2e8;">
        <% for(let shortURL in urls[user]){ %>
        <li style="display: inline-block;"><%= shortURL %> : <%= urls[user][shortURL]%></li>
        <a href="/urls/<%= Object.keys(user)%>" style="display: inline-block; color: #d8e2e8;">Edit</a>
        <form method="POST" action="/urls/<%= user %>/delete" style="display: inline-block;">
          <input type="submit" value="Delete">
        </form>
      </div>
      <%} %>
    <%} %>
  </ul>
</body>
</html>
