<!DOCTYPE html>
<html lang='en'>
<head>
</head>
<body style="font-size:20px; padding:100px; text-align:center; background-color: #5a6469">
  <% include partials/_header %>
  <div style="position: relative; bottom: -10px">
    <h1>Welcome to TinyApp!</h1>
    <table style="position:relative; left:600px">
      <form action="/login" method="POST" style="margin:150px;">
        <tr>
          <th style="position: relative; left: -15px">
            <label for="email" style="color: #d8e2e8;">Email:</label>
            <input id="email" type="email" name="email" placeholder="example@gmail.com" style="width: 300px">
          </th>
        </tr>
        <tr>
          <th>
            <label for="password" style="color: #d8e2e8;">Password:</label>
            <input id="password" type="password" name="password" style="width: 300px">
            <input type="submit" value="Submit">
          </th>
        </tr>
    </form>
  </table>
  </div>
</body>
</html>
